In [7]:
import pandas as pd 
from sqlalchemy import create_engine
import plotly.express as px

In [8]:
conn_string = 'postgresql://postgres:admin1234@localhost:5432/postgres'
postgres_engine = create_engine(conn_string)

### 1. 이전 주문이후 현 주문까지 걸린 기간의 구간별 히스토그램

In [9]:
query = """ 
WITH temp_01 AS (
    SELECT
        order_id 
        , customer_id
        , order_date
        , lag(order_date)
        OVER (PARTITION BY customer_id ORDER BY order_date) as prev_ord_date
    FROM nw.orders
), temp_02 AS (
SELECT 
    order_id
    , customer_id
    , order_date
    , order_date - prev_ord_date as days_since_prev_order
FROM temp_01
WHERE prev_ord_date is not null
)
SELECT 
    floor(days_since_prev_order / 10.0) * 10 as bin
    , count(*) bin_cnt
FROM temp_02
GROUP BY floor(days_since_prev_order / 10.0) * 10
ORDER BY 1

"""

In [10]:
df = pd.read_sql_query(sql=query, con=postgres_engine)
df.head()

    bin  bin_cnt
0   0.0      115
1  10.0      113
2  20.0      111
3  30.0       66
4  40.0       56

In [11]:
query = """ 
WITH temp_01 AS (
    SELECT
        order_id 
        , customer_id
        , order_date
        , lag(order_date)
        OVER (PARTITION BY customer_id ORDER BY order_date) as prev_ord_date
    FROM nw.orders
), temp_02 AS (
SELECT 
    order_id
    , customer_id
    , order_date
    , order_date - prev_ord_date as days_since_prev_order
FROM temp_01
WHERE prev_ord_date is not null
)
SELECT 
    *
FROM temp_02

"""

In [12]:
df = pd.read_sql_query(sql=query, con=postgres_engine)
df.head()

   order_id customer_id  order_date  days_since_prev_order
0     10692       ALFKI  1997-10-03                     39
1     10702       ALFKI  1997-10-13                     10
2     10835       ALFKI  1998-01-15                     94
3     10952       ALFKI  1998-03-16                     60
4     11011       ALFKI  1998-04-09                     24

In [13]:
import plotly.express as px 

fig = px.histogram(df, x='days_since_prev_order', nbins=100)
fig.show()

### 2. 월별 사용자 평균 주문건수

In [14]:
query = """ 
WITH temp_01 AS (
    SELECT 
        customer_id
        , date_trunc('month', order_date)::date as month_day
        , count(*) as order_cnt
    FROM nw.orders
    GROUP BY customer_id, date_trunc('month', order_date)::date
)

SELECT
    month_day
    , avg(order_cnt)
    , max(order_cnt)
    , min(order_cnt)
FROM temp_01 
GROUP BY month_day
ORDER BY month_day
"""

In [15]:
df = pd.read_sql_query(sql=query, con=postgres_engine)
df.head()

    month_day       avg  max  min
0  1996-07-01  1.100000    2    1
1  1996-08-01  1.388889    3    1
2  1996-09-01  1.210526    2    1
3  1996-10-01  1.300000    2    1
4  1996-11-01  1.190476    2    1

#### 테스트 order별 특정 상품 주문시 함께 가장 많이 주문된 상품 추출

In [16]:
query = """ 
with 
temp_01 as (
select 'ord001' as order_id, 'A' as product_id
union all
select 'ord001', 'B'
union all
select 'ord001', 'C'
union all
select 'ord002', 'B'
union all 
select 'ord002', 'D'
union all
select 'ord003', 'A'
union all
select 'ord003', 'B'
union all
select 'ord003', 'D'
), 
temp_02 as (
select a.order_id, a.product_id as prod_01, b.product_id as prod_02 
from temp_01 a 
	join temp_01 b on a.order_id = b.order_id
where a.product_id != b.product_id
order by 1, 2, 3
),
temp_03 as (
select prod_01, prod_02, count(*) as cnt
from temp_02
group by prod_01, prod_02
order by 1, 2, 3
),
temp_04 as (
select *
	, row_number() over (partition by prod_01 order by cnt desc) as rnum
from temp_03
)
select * from temp_04 where rnum=1;


"""

In [17]:
df = pd.read_sql_query(sql=query, con=postgres_engine)
df.head()

  prod_01 prod_02  cnt  rnum
0       A       B    2     1
1       B       D    2     1
2       C       A    1     1
3       D       B    2     1

#### order별 특정 상품 주문시 함께 가장 많이 주문된 상품 추출

In [27]:
query = """ 
with 
temp_01 as (
SELECT a.order_id
	, a.product_id as prod_01
	, b.product_id as prod_02
FROM ga.order_items a 
JOIN ga.order_items b 
ON a.order_id = b.order_id
WHERE a.product_id != b.product_id	
), 
temp_02 as (
select prod_01, prod_02, count(*) as cnt
from temp_01
group by prod_01, prod_02
order by 1, 2, 3
),
temp_03 as (
select *
	, row_number() over (partition by prod_01 order by cnt desc) as rnum
from temp_02
)
select * from temp_03 where rnum=1;


"""

In [28]:
df = pd.read_sql_query(sql=query, con=postgres_engine)
df.head()

          prod_01         prod_02  cnt  rnum
0  GGOEA0CH077599  GGOEAFKQ020499    1     1
1  GGOEAAAB034813  GGOEAAAB034913    2     1
2  GGOEAAAB034814  GGOEAAAB034914    3     1
3  GGOEAAAB034815  GGOEAAAB034915    3     1
4  GGOEAAAB034816  GGOEGOFH020299    1     1

#### 사용자별 특정 상품 주문시 함께 가장 많이 주문된 다른 상품 추출

In [33]:
query = """ 
with temp_00 AS (
SELECT 
	b.user_id
	, a.order_id
	, a.product_id
FROM ga.order_items a
JOIN ga.orders b 
ON a.order_id = b.order_id
),
-- temp_00을 user_id로 self join 하면 M:M 조인되면서 개별 user_id별 주문 상품별로 연관된 주문 상품 집합을 생성 
temp_01 as (
SELECT a.user_id
	, a.product_id as prod_01
	, b.product_id as prod_02
FROM temp_00 a 
JOIN temp_00 b
ON a.order_id = b.order_id
WHERE a.product_id != b.product_id	
), 
temp_02 as (
select prod_01, prod_02, count(*) as cnt
from temp_01
group by prod_01, prod_02
order by 1, 2, 3
),
temp_03 as (
select *
	, row_number() over (partition by prod_01 order by cnt desc) as rnum
from temp_02
)


-- 순위가 1인 데이터만 추출 
SELECT prod_01, prod_02, cnt, rnum 
FROM temp_03
WHERE rnum = 1

"""

In [34]:
df = pd.read_sql_query(sql=query, con=postgres_engine)
df.head()

          prod_01         prod_02  cnt  rnum
0  GGOEA0CH077599  GGOEAFKQ020499    1     1
1  GGOEAAAB034813  GGOEAAAB034913    2     1
2  GGOEAAAB034814  GGOEAAAB034914    3     1
3  GGOEAAAB034815  GGOEAAAB034915    3     1
4  GGOEAAAB034816  GGOEGOFH020299    1     1